#debot-app {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    color: #fff;
    background-color: #333;
    z-index: 9999;
    overflow: auto;

    ul,
    ol,
    li {
        margin: revert;
        padding: revert;
    }

    li {
        margin-left: -20px;
    }

    .app-btn-container {
        position: fixed;
        z-index: 9999;
        margin-left: -45px;
        width: 40px;
        height: 40px;
        background: #ffe4c4;
        border-radius: 5px 0 0 5px;

        button {
            @extend .button-link;
            width: 100%;
            height: 100%;
            color: black;
        }
    }

    table {
        border-spacing: 0;
        width: 100%;
        th,
        td {
            white-space: nowrap;
            padding: 5px;
            border-bottom: 1px solid #808080;
            text-align: left;
        }
        th {
            font-weight: normal;
        }
        td > * {
            vertical-align: top;
        }
    }

    .title {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        background-color: #dcdcdc;
        color: black;
        padding: 5px 0;
        margin-bottom: 5px;
    }

    .header-no-results {
        background-color: #483d8b;
        font-weight: bold;
        padding: 5px;
    }

    .sort-pointer {
        display: inline-block;
        transform: rotate(0deg);
        transition: transform 0.5s;

        &.sort-pointer-desc {
            transform: rotate(-180deg);
        }
    }

    .top-spacing {
        margin-top: 10px;
    }

    svg {
        width: 1em;
        height: 1em;
        font-size: 20px;
    }

    .button-link {
        background: none;
        border: none;
        cursor: pointer;
    }

    .tab-group {
        border-bottom: 1px solid #00bfff;
    }

    .tab-button {
        @extend .button-link;
        border: 1px solid #808080;
        border-bottom: 0;
        padding: 7px;
        margin-right: 5px;
        &.active {
            border: 1px solid #00bfff;
            border-bottom: 0;
            font-weight: bold;
        }
    }

    .sort-button {
        font-weight: bold;
        color: #ffebcd;
    }

    .inline-number-input {
        display: inline;
        width: 50px;
        text-align: right;
        padding: 2px;
    }

    .version {
        position: absolute;
        right: 10px;
        color: #000000;
        vertical-align: top;
    }

    .attention {
        font-weight: bold;
        color: #ff4500;
    }
}
